<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../public/css/style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script type="text/javascript" src="../public/js/userFunctions.js"> </script>
    <title>Folder Audio Player</title>
</head>
<body>
    <header>
        <h1>AF Player</h1>
        <nav>
            <ul class="menu">
                <li><a id="loadList" class="button" href="#">Load Playlist</a></li>
                <li><a id="dbupdate" class="button" href="#">BD Update</a></li>
                <li><a id="new-audio" class="button" href="#">New audio</a></li>
            </ul>
            
            
        </nav>
    </header>
    
    <main id="faplayer"></main>
    <div id="newFileBackground"><div id="newFile">
        <div class="modal-header">
            <span>Upload a new audio file</span>
            <button id="modal-close">x</button>
        </div>
        <input class="file" type="file">
        <a href="#" id="file-upload" class="modal">Upload</a>
    </div></div>
</body>
</html>