<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../public/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Walter+Turncoat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c9287d35ab.js"></script>
    <script data-search-pseudo-elements defer src="https://use.fontawesome.com/releases/latest/js/all.js" integrity="sha384-L469/ELG4Bg9sDQbl0hvjMq8pOcqFgkSpwhwnslzvVVGpDjYJ6wJJyYjvG3u8XW7" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>


    <script type="text/javascript" src="../public/js/functions.js"> </script>
    <title>Folder Audio Player</title>
</head>
<body>
    <header>
        <h1>AF Player</h1>
        <nav>
            <ul class="menu">
                <li><a id="loadList" class="button" href="#">Load Playlist</a></li>
                <li><a id="dbupdate" class="button" href="#">BD Update</a></li>
                <li><a id="new-audio" class="button" href="#">New audio</a></li>
            </ul>
        </nav>
    </header>
    
    <div id="urerMsg"></div>

    <!-- PLAYER LIST -->
    <main id="faplayer"></main>

    <!-- MODAL WINDOW - FILE UPLOAD -->
    <div id="modalUpload"></div>
</body>
</html>