<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../public/css/master.css"> 
    <link href="https://fonts.googleapis.com/css?family=Raleway|Walter+Turncoat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">

    <!-- ICONS IMPORT -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c9287d35ab.js"></script>

    <script data-search-pseudo-elements defer src="https://use.fontawesome.com/releases/latest/js/all.js" integrity="sha384-L469/ELG4Bg9sDQbl0hvjMq8pOcqFgkSpwhwnslzvVVGpDjYJ6wJJyYjvG3u8XW7" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>


    <script type="text/javascript" src="../public/js/functions.js"> </script>
    <title>Folder Audio Player</title>
</head>
<body>
    <div id="player-background" class="center container">
        <header>
            <h1>AF Player</h1>
        </header>
        

        <!-- PLAYER  CONTAINER -->
        <div id="player-container">
            <nav>
                <ul class="menu center">
                    <li class="menu-item"><a href="#">File</a>
                        <div class="submenu">
                            <ul>
                                <li id="loadList"><i class="material-icons">queue_music</i><a  href="#">Load Playlist</a></li>
                                <li><i class="material-icons">update</i><a id="dbupdate" href="#">BD Update</a></li>
                                <li><i class="material-icons">cloud_upload</i><a id="new-audio" href="#">New audio</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-item"><a href="#">Player</a>
                        <div class="submenu"></div>
                    </li>
                    <li class="menu-item"><a href="#">Item</a></li>
                    <li class="menu-item"><a href="#">help</a></li>
                </ul>
            </nav>
            <!-- PLAYER LIST -->
            <section id="player">
                <main id="faplayer-audiolist" class="center container"></main>
                <div class="bottom-container">
                    <article id="playing-info" class="container">
                        <p id="audio-name">Name of the audio playing
                            <span id="audio-duration">3:35</span>
                        </p>
                        <div id="progress-bar-background">
                            <div id="progress-bar"><i class="fas fa-compact-disc"></i></div>
                            
                        </div>
                    </article>
                    <article id="controls" class="center">
                        <ul class="controls">
                            <li id="prev" class="control"><i class="fas fa-step-backward"></i></li>
                            <li id="play" class="control"><i class="fas fa-play"></i></li>
                            <li id="pause" class="control"><i class="fas fa-pause-circle"></i></li>
                            <li id="next" class="control"><i class="fas fa-step-forward"></i></li>
                        </ul>
                    </article>
                    
                </div>
            </section>
            
        </div>

        <!-- MODAL WINDOW - FILE UPLOAD -->
        <section id="modalUpload"></section>

        <!-- MESSAGES TO USER -->
        <article id="urerMsg" class="center"></article>
    </div>
</body>
</html>