<div class="modal-fill" id="modal-background">
    <div class="modal-body center" id="newFile">
        <div class="modal-header">
            <span>Upload a new audio file</span>
            <button class="modal-close-button" id="modal-close" title="Close window">x</button>
        </div>
        <form action="/file-upload" id="upload-form" enctype="multipart/form-data" method="POST">
            <input id="fileName" class="text" type="text" name="fileName" placeholder="Audio name">
            <input class="file" type="file" name="uploadFile" required>
            <div class="modal-submit">
                <input class="modal-button center" type="submit" value="Upload">
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="../public/js/ajaxFormSubmit.js"> </script>
