<div class="modal-fill" id="modal-background">
    <div class="modal-body" id="newFile">
        <div class="modal-header">
            <span>Upload a new audio file</span>
            <button class="modal-close-button" id="modal-close" title="Close window">x</button>
        </div>
        <form action="/file-upload" method="POST">
            <input class="file" type="file">
            <div class="modal-submit">
                <input class="modal-button" type="submit" value="Upload" required>
                <a href="#" id="file-upload" class="modal-button">Upload</a>
            </div>
            
        </form>
    </div>
</div>